name: Release

on:

  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  release-please:

    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest

    outputs:
      releases_created: ${{ steps.r.outputs.releases_created }}
      tag_name: ${{ steps.r.outputs.tag_name }}

    steps:

      - name: Run Release Please
        uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4.1.3
        id: r
        with:
          token: ${{ secrets.OKCTL_FINE_GRAINED_TOKEN }}


  goreleaser:

    needs:
      - release-please

    if: needs.release-please.outputs.releases_created == 'true'

    permissions:
      contents: write
      actions: write

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0


      - name: Set up Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"


      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@9ed2f89a662bf1735a48bc8557fd212fa902bebf # v6.1.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  ################################################################################
  # Test installation of OS packages
  ################################################################################
  test-installation:
    name: Test installation of OS packages
    needs: [goreleaser]
    uses: ./.github/workflows/test_os_packages.yml
