name: Release

on:

  push:
    branches:
      - main
    # NOTE: We only trigger on specific file paths to avoid unncessarily running the workflow
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
      - '**/*.sh'
      - '**/*.rb'
      # NOTE: We need to trigger a release when a PR from release-please has been merged
      - ".release-please-manifest.json"
  workflow_dispatch:

jobs:

  release-please:

    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest

    outputs:
      releases_created: ${{ steps.r.outputs.releases_created }}
      tag_name: ${{ steps.r.outputs.tag_name }}

    steps:

      - name: Run Release Please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: r
        with:
          token: ${{ secrets.OKCTL_FINE_GRAINED_TOKEN }}


  goreleaser:

    needs:
      - release-please

    if: needs.release-please.outputs.releases_created == 'true'

    permissions:
      contents: write
      actions: write

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0


      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"


      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  ################################################################################
  # Test installation of OS packages
  ################################################################################
  test-installation:
    name: Test installation of OS packages
    needs: [goreleaser]
    uses: ./.github/workflows/test_os_packages.yml
