name: Test

on:
  pull_request: {}
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0


      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"


      # We don't need the ok binary from the setup-ok action, but we need the dependencies.
      - name: Install ok dependencies
        uses: oslokommune/composite-actions/setup-ok@ec8af16c03d62d35987ff358fda9509908ad79eb # setup-ok: v1.3.0


      - name: Run tests
        uses: magefile/mage-action@6f50bbb8ea47d56e62dee92392788acbc8192d0b # v3.1.0
        with:
          version: "v1.14.0"
          args: "test"
