name: Test OS packages

on:
  workflow_call:
  workflow_dispatch:
  release:

jobs:

  install-and-run-ok:

    name: Install and run ok
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: [fedora, ubuntu, archlinux]

    steps:

    - name: Checkout ⚙️
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2


    - name: Set up Docker Buildx ⚙️
      uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1


    - name: Build Docker image
      uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
      with:
        context: .
        file: test/installation/Dockerfile.${{ matrix.dockerfile }}
        tags: ok-${{ matrix.dockerfile }}
        load: true
        push: false
        secrets: |
          "github_token=${{ secrets.GITHUB_TOKEN }}"


    - name: Test Docker image
      run: docker run --rm ok-${{ matrix.dockerfile }}
