name: Test

on:
  pull_request: {}
  workflow_dispatch:

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7


      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"


      - name: Run tests
        uses: magefile/mage-action@6a5dcb5fe61f43d7c08a98bc3cf9bc63c308c08e # v3.0.0
        with:
          version: "v1.14.0"
          args: "test"
