name: Test OS packages

on:
  workflow_call:
  workflow_dispatch:

jobs:

  install-and-run-ok:

    name: Install and run ok
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: [fedora, ubuntu, archlinux]

    steps:

    - name: Checkout ⚙️
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1


    - name: Set up Docker Buildx ⚙️
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0


    - name: Build Docker image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        file: test/installation/Dockerfile.${{ matrix.dockerfile }}
        tags: ok-${{ matrix.dockerfile }}
        load: true
        push: false
        secrets: |
          "github_token=${{ secrets.GITHUB_TOKEN }}"


    - name: Test Docker image
      run: docker run --rm ok-${{ matrix.dockerfile }}
